html{height: 100%;}
body {
	min-height: 100%;
	margin-top: 110px; /* place du header */
	padding-top: 40px;
	background-color: #f8f8f8;
	box-shadow:0 0 50px 0 #ddd inset;
}

/* header */
ul.navbar-nav li a {
	text-align: center;
	padding-top: 35px;
}
ul.navbar-nav li.active>a{
	border-top: 5px solid #af4a77;
	padding-top: 30px;
}
.navbar-inner{
	padding: 0px  70px;
}
.navbar{
	height: 110px;
}
.navbar-brand{
	padding: 0 0 10px 0;
	height: 80px;
}
img.logo{
	max-height: 100%;
	width: auto;
}

/* formulaire de connexion */
.form-popover{
	text-align: left;
	width: 300px;
}
.form-popover input{
	width: 240px;
}

/* carousel */
.item{
	height: 500px;
}
.item img{
	margin: auto;
}
.carousel{
	margin-bottom: 40px;
}
.carousel-caption{
	left: 12%;
	right: 12%;
	background: #666;
	background: rgba(0, 0, 0,0.7);
}

/* catalogue */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f6f3f4;
}
.table-hover > tbody > tr:hover {
  background-color: #ece5e8;
}
.btn-violet {
  color: #fff;
  background-color: #af4a77;
  border-color: #8b3a5f;
}
tr {
cursor:pointer;
}
/* Autre */
.couleur{
	color: #af4a77;
	font-weight: bold;
	text-decoration: none;
}
.centre{
	text-align: center;
}
.th-fixe th{
	width:25%;
}
#couvLivre{
	max-width: 350px;
	height: auto;
}